{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about">

    <div class="image">
        <img src="{% static 'images/Learning-amico.png'%}" alt="">
    </div>

    <div class="content">
        <h3>All About Notes Sharing</h3>
        <p>“Online Note Sharing” is the project used for sharing notes using the website. Notes that the user wants for a particular subject can be found in the website. This project is written in Python Django and sqlite. Firstly, the user need to sign up and then, they can log in to the system.</p>
        <p>Online Notes Sharing is a open source website.</p>

    </div>

</section>
{% endblock %}