{% load static %}

<html lang="en" class="no-focus"> <!--<![endif]-->
    <head>
        <title>Online Notes Sharing- Change Password</title>

        <link rel="stylesheet" href="{% static 'js/plugins/datatables/dataTables.bootstrap4.min.css' %}">

        <link rel="stylesheet" id="css-main" href="{% static 'css1/codebase.min.css' %}">

    </head>
    <body>

        <div id="page-container" class="sidebar-o sidebar-inverse side-scroll page-header-fixed main-content-narrow">

         {% include "sidebar.html" %}

            {% include "admin_nav.html" %}

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="content">
                    <h2 class="content-heading text-danger">Change Password</h2>

                    <!-- Dynamic Table Full Pagination -->
                    <div class="container-fluid">
           <form method="post" name="Changepassword" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" name="oldpassword" class="form-control" placeholder="Enter current password">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="newpassword" class="form-control" placeholder="Enter new password">
                       </div>
                    </div>
                 </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="confirmpassword" class="form-control" placeholder="Enter confirm password">
                        </div>
                    </div>
                </div>

                <input type="Submit" value="Submit" class=" m-2 px-3 btn btn-primary" >
            </form>
        </div>
                    <!-- END Dynamic Table Full Pagination -->

                    <!-- END Dynamic Table Simple -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

        </div>
        <!-- END Page Container -->
{% if error == "no" %}
<script>
    alert("Password updated Successfully");
    window.location=('{% url 'logout' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong , try again");
</script>
        {% endif %}
        <!-- Codebase Core JS -->
         <script src="{% static 'js/core/jquery.min.js' %}"></script>
        <script src="{% static 'js/core/popper.min.js' %}"></script>
        <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.scrollLock.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.appear.min.js' %}"></script>
        <script src="{% static 'js/core/jquery.countTo.min.js' %}"></script>
        <script src="{% static 'js/core/js.cookie.min.js' %}"></script>
        <script src="{% static 'js/codebase.js' %}"></script>

        <!-- Page JS Plugins -->
        <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Page JS Code -->
        <script src="{% static 'js/pages/be_tables_datatables.js' %}"></script>
    </body>
</html>
