{% extends 'usernavigation.html'%}
{% load static %}
{% block body %}

<div class="container mt-5"
		style="font-family: 'IBM Plex Sans', sans-serif;">
		<div class="row">
			<div class="col-sm-6 mt-5">
				<h2 class="text-center text-danger">Edit Profile</h2>
				<hr>
				<form method="post">
                    {% csrf_token %}
					<div class="row register-form">
						<div class="col-md-6">
							<div class="form-group">
								<label> First Name</label>
                                <input type="text" class="form-control" value="{{data.user.first_name}}" name="firstname">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label> Last Name</label>
                                <input type="text" class="form-control" value="{{data.user.last_name}}" name="lastname">
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label> Contact</label>
								<input type="text" class="form-control" name="contact" value="{{data.contact}}">
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label> Email Address</label>
								<input type="email" class="form-control" name="emailid" value="{{data.user.username}}" readonly>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label> Branch</label>
								<select class="form-control" name="branch">
									<option value="Computer Science">Computer Science</option>
									<option value="Mechanical">Mechanical</option>
									<option value="Civil">Civil</option>
									<option value="Electronics">Electronics</option>
									<option value="Electric">Electric</option>
									<option value="IT">IT</option>
								</select>
							</div>
						</div>

						<div class="form-group col-md-6 mt-2">
							<br>
							<input type="text" value="{{data.branch}}" class="form-control" readonly>
						</div>

						<input type="submit" value="Update" class="btn btn-primary mt-3">
					</div>
			</form>
			</div>
			<div class="col-sm-6 mt-5">
				<img src="{% static 'images/editnotes.png' %}" style="width: 90%; height: 450px">
			</div>

		</div>
	</div>

{% if error %}
<script>
	alert('Profile Updated Successfully');
	window.location=('{% url 'profile' %}');
</script>
{% endif %}


{% endblock %}