{% load static %}
   <nav id="sidebar">
                <!-- Sidebar Scroll Container -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Side Header -->
                        <div class="content-header content-header-fullrow px-15">
                            <!-- Mini Mode -->
                            <div class="content-header-section sidebar-mini-visible-b">
                                <!-- Logo -->
                                <span class="content-header-item font-w700 font-size-xl float-left animated fadeIn">
                                    <span class="text-dual-primary-dark">c</span><span class="text-primary">b</span>
                                </span>
                                <!-- END Logo -->
                            </div>
                            <!-- END Mini Mode -->

                            <!-- Normal Mode -->
                            <div class="content-header-section text-center align-parent sidebar-mini-hidden">
                                <!-- Close Sidebar, Visible only on mobile screens -->
                                <!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->
                                <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none align-v-r" data-toggle="layout" data-action="sidebar_close">
                                    <i class="fa fa-times text-danger"></i>
                                </button>
                                <!-- END Close Sidebar -->

                                <!-- Logo -->
                                <div class="content-header-item">
                                    <a class="link-effect font-w700" href="{% url 'admin_home' %}">
                                           <span class="font-size-xl text-dual-primary-dark">Notes</span><span class="font-size-xl text-primary">Sharing</span>
                                    </a>
                                </div>
                                <!-- END Logo -->
                            </div>
                            <!-- END Normal Mode -->
                        </div>
                        <!-- END Side Header -->

                        <!-- Side User -->
                        <div class="content-side content-side-full content-side-user px-10 align-parent">
                            <!-- Visible only in mini mode -->
                            <div class="sidebar-mini-visible-b align-v animated fadeIn">
                                <img class="img-avatar img-avatar32" src="{% static 'img/avatars/avatar15.jpg' %}" alt="">
                            </div>
                            <!-- END Visible only in mini mode -->

                            <!-- Visible only in normal mode -->
                            <div class="sidebar-mini-hidden-b text-center">
                                <a class="img-link" href="be_pages_generic_profile.html">
                                    <img class="img-avatar" src="{% static 'img/avatars/user1.png' %}" alt="">
                                </a>
                                <ul class="list-inline mt-10">


                                    <li class="list-inline-item">
                                        <a class="link-effect text-dual-primary-dark font-size-xs font-w600 text-uppercase" href="{% url 'admin_home' %}">{{ request.user.username }}</a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a class="link-effect text-dual-primary-dark" href="{% url 'logout' %}">
                                            <i class="si si-logout"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END Visible only in normal mode -->
                        </div>
                        <!-- END Side User -->

                        <!-- Side Navigation -->
                        <div class="content-side content-side-full">
                            <ul class="nav-main">
                                <li class="open">
                                    <a href="{% url 'admin_home' %}"><i class="fas fa-home"></i><span class="sidebar-mini-hide">Home</span></a>
                                </li>

                                <li class="nav-main-heading"><span class="sidebar-mini-visible">UI</span><span class="sidebar-mini-hidden"></span></li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu"><i class="far fa-address-card"></i><span class="sidebar-mini-hide"></span>View Notes</a>
                                    <ul>
                                        <li>
                                            <a href="{% url 'pending_notes' %}">Pending Notes</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'accepted_notes' %}">Accepted Notes</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'rejected_notes' %}">Rejected Notes</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'all_notes' %}">All Notes</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a  href="{% url 'view_users' %}"><i class="fas fa-eye"></i><span class="sidebar-mini-hide">View User</span></a>
                                </li>

                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu"><i class="far fa-address-card"></i><span class="sidebar-mini-hide"></span>Contact Queries</a>
                                    <ul>
                                        <li>
                                            <a href="{% url 'unread_queries' %}">Unread Queries</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'read_queries' %}">Read Queries</a>
                                        </li>

                                    </ul>
                                </li>

                           </ul>
                        </div>
                        <!-- END Side Navigation -->
                    </div>
                    <!-- Sidebar Content -->
                </div>
                <!-- END Sidebar Scroll Container -->
            </nav>
