{% extends 'usernavigation.html'%}
{% load static %}
{% block body %}

<div class="container mt-5">
  <h1 class="text-success text-center"></h1>
            <h4 class="text-center text-danger">View All Notes</h4>
			<br>
			<table class="table table-bordered" id="example">
				<thead>
					<tr>
						<th>S.No</th>
						<th>Uploaded By</th>
						<th>Uploading Date</th>
						<th>Branch</th>
						<th>Subject</th>
						<th>Download Notes</th>
						<th>File Type</th>
						<th>Description</th>
					</tr>
				</thead>
			</table>
</div>

{% endblock %}